<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Students</key>
	<array>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>LẠI TUẤN</string>
			<key>id</key>
			<string>66DCCA22126</string>
			<key>dob</key>
			<string>16/03/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>TRỊNH HOÀNG</string>
			<key>id</key>
			<string>66DCCA22615</string>
			<key>dob</key>
			<string>01/06/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>BẢO</string>
			<key>lastName</key>
			<string>VƯƠNG GIA</string>
			<key>id</key>
			<string>66DCCA21763</string>
			<key>dob</key>
			<string>24/06/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CHUẨN</string>
			<key>lastName</key>
			<string>NGUYỄN CÔNG</string>
			<key>id</key>
			<string>66DCCA22777</string>
			<key>dob</key>
			<string>24/09/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CHUNG</string>
			<key>lastName</key>
			<string>DƯƠNG ĐÌNH</string>
			<key>id</key>
			<string>66DCCA21608</string>
			<key>dob</key>
			<string>27/05/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CẢNH</string>
			<key>lastName</key>
			<string>VŨ ĐỨC</string>
			<key>id</key>
			<string>66DCCA22228</string>
			<key>dob</key>
			<string>25/05/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CÔNG</string>
			<key>lastName</key>
			<string>HOÀNG VĂN</string>
			<key>id</key>
			<string>66DCCA23235</string>
			<key>dob</key>
			<string>24/06/1995</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CƯỜNG</string>
			<key>lastName</key>
			<string>NGUYỄN ĐỨC</string>
			<key>id</key>
			<string>66DCCA21948</string>
			<key>dob</key>
			<string>03/11/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>DŨNG</string>
			<key>lastName</key>
			<string>DƯƠNG CHÍ</string>
			<key>id</key>
			<string>66DCCA21794</string>
			<key>dob</key>
			<string>28/12/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>DŨNG</string>
			<key>lastName</key>
			<string>HỒ TIẾN</string>
			<key>id</key>
			<string>66DCCA23077</string>
			<key>dob</key>
			<string>20/11/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐỨC</string>
			<key>lastName</key>
			<string>HÀ VĂN TRUNG</string>
			<key>id</key>
			<string>66DCCA21957</string>
			<key>dob</key>
			<string>15/08/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐÌNH</string>
			<key>lastName</key>
			<string>NGUYỄN VŨ</string>
			<key>id</key>
			<string>66DCCA21588</string>
			<key>dob</key>
			<string>23/01/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐẠO</string>
			<key>lastName</key>
			<string>ĐẶNG ĐÌNH</string>
			<key>id</key>
			<string>66DCCA22760</string>
			<key>dob</key>
			<string>09/06/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐẠT</string>
			<key>lastName</key>
			<string>PHẠM TIẾN</string>
			<key>id</key>
			<string>66DCCA21586</string>
			<key>dob</key>
			<string>27/07/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HÀ</string>
			<key>lastName</key>
			<string>NGUYỄN NGỌC</string>
			<key>id</key>
			<string>66DCCA21757</string>
			<key>dob</key>
			<string>04/12/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HẢI</string>
			<key>lastName</key>
			<string>NGUYỄN XUÂN</string>
			<key>id</key>
			<string>66DCCA21978</string>
			<key>dob</key>
			<string>21/08/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HIỂN</string>
			<key>lastName</key>
			<string>HOÀNG THẾ</string>
			<key>id</key>
			<string>66DCCA21500</string>
			<key>dob</key>
			<string>10/01/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HIẾU</string>
			<key>lastName</key>
			<string>HOÀNG VĂN</string>
			<key>id</key>
			<string>66DCCA22464</string>
			<key>dob</key>
			<string>18/11/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HIẾU</string>
			<key>lastName</key>
			<string>NGUYỄN XUÂN</string>
			<key>id</key>
			<string>66DCCA22062</string>
			<key>dob</key>
			<string>29/09/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HẠNH</string>
			<key>lastName</key>
			<string>ĐÀO XUÂN</string>
			<key>id</key>
			<string>66DCCA22086</string>
			<key>dob</key>
			<string>02/12/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HÒA</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCA22374</string>
			<key>dob</key>
			<string>01/06/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HOÀI</string>
			<key>lastName</key>
			<string>VŨ ĐỨC</string>
			<key>id</key>
			<string>66DCCA22481</string>
			<key>dob</key>
			<string>30/10/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HOÀNG</string>
			<key>lastName</key>
			<string>ĐÀO MINH</string>
			<key>id</key>
			<string>66DCCA22949</string>
			<key>dob</key>
			<string>13/10/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HOÀNG</string>
			<key>lastName</key>
			<string>NGUYỄN HUY</string>
			<key>id</key>
			<string>66DCCA22403</string>
			<key>dob</key>
			<string>22/11/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HUY</string>
			<key>lastName</key>
			<string>HOÀNG QUANG</string>
			<key>id</key>
			<string>66DCCA21672</string>
			<key>dob</key>
			<string>27/12/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>LÂM</string>
			<key>lastName</key>
			<string>TRIỆU GIANG</string>
			<key>id</key>
			<string>66DCCA22719</string>
			<key>dob</key>
			<string>11/06/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>LUÂN</string>
			<key>lastName</key>
			<string>NGUYỄN MẠNH</string>
			<key>id</key>
			<string>66DCCA21905</string>
			<key>dob</key>
			<string>09/05/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>LƯU</string>
			<key>lastName</key>
			<string>NGUYỄN ĐĂNG</string>
			<key>id</key>
			<string>66DCCA21612</string>
			<key>dob</key>
			<string>01/01/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>MINH</string>
			<key>lastName</key>
			<string>NGUYỄN HỮU</string>
			<key>id</key>
			<string>66DCCA22499</string>
			<key>dob</key>
			<string>06/01/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>MẾN</string>
			<key>lastName</key>
			<string>NGUYỄN VIẾT</string>
			<key>id</key>
			<string>66DCCA21414</string>
			<key>dob</key>
			<string>19/04/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>NAM</string>
			<key>lastName</key>
			<string>BÙI THANH</string>
			<key>id</key>
			<string>66DCCA22761</string>
			<key>dob</key>
			<string>05/08/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>NGUYÊN</string>
			<key>lastName</key>
			<string>HÀ VĂN</string>
			<key>id</key>
			<string>66DCCA22452</string>
			<key>dob</key>
			<string>16/12/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>PHÚ</string>
			<key>lastName</key>
			<string>VÕ ĐỨC</string>
			<key>id</key>
			<string>66DCCA22263</string>
			<key>dob</key>
			<string>01/04/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>QUÂN</string>
			<key>lastName</key>
			<string>PHẠM VĂN</string>
			<key>id</key>
			<string>66DCCA22488</string>
			<key>dob</key>
			<string>14/09/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>QUỲNH</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCA22108</string>
			<key>dob</key>
			<string>02/12/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>SƠN</string>
			<key>lastName</key>
			<string>LỘC XUÂN</string>
			<key>id</key>
			<string>66DCCA22361</string>
			<key>dob</key>
			<string>08/03/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>SƠN</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCA21607</string>
			<key>dob</key>
			<string>06/04/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TÀI</string>
			<key>lastName</key>
			<string>NGUYỄN CÔNG</string>
			<key>id</key>
			<string>66DCCA21851</string>
			<key>dob</key>
			<string>30/11/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THÀNH</string>
			<key>lastName</key>
			<string>ĐẶNG VĂN</string>
			<key>id</key>
			<string>66DCCA23177</string>
			<key>dob</key>
			<string>25/08/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THÀNH</string>
			<key>lastName</key>
			<string>PHẠM TIẾN</string>
			<key>id</key>
			<string>66DCCA22985</string>
			<key>dob</key>
			<string>18/10/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THĂNG</string>
			<key>lastName</key>
			<string>LÊ VĂN</string>
			<key>id</key>
			<string>66DCCA22942</string>
			<key>dob</key>
			<string>03/09/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THIỀU</string>
			<key>lastName</key>
			<string>NGUYỄN MẠNH</string>
			<key>id</key>
			<string>66DCCA21540</string>
			<key>dob</key>
			<string>09/10/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THẮNG</string>
			<key>lastName</key>
			<string>TƯỞNG QUANG</string>
			<key>id</key>
			<string>66DCCA21462</string>
			<key>dob</key>
			<string>09/10/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THỐNG</string>
			<key>lastName</key>
			<string>VŨ VĂN</string>
			<key>id</key>
			<string>66DCCA21538</string>
			<key>dob</key>
			<string>26/09/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THUẬN</string>
			<key>lastName</key>
			<string>NGUYỄN ĐỨC</string>
			<key>id</key>
			<string>66DCCA22312</string>
			<key>dob</key>
			<string>28/01/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TRỌNG</string>
			<key>lastName</key>
			<string>PHẠM KIM</string>
			<key>id</key>
			<string>66DCCA22047</string>
			<key>dob</key>
			<string>30/09/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TRUNG</string>
			<key>lastName</key>
			<string>NGUYỄN THÀNH</string>
			<key>id</key>
			<string>66DCCA22795</string>
			<key>dob</key>
			<string>18/11/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TÚ</string>
			<key>lastName</key>
			<string>PHAN ANH</string>
			<key>id</key>
			<string>66DCCA22389</string>
			<key>dob</key>
			<string>18/12/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TUẤN</string>
			<key>lastName</key>
			<string>NGUYỄN HOÀNG</string>
			<key>id</key>
			<string>66DCCA21728</string>
			<key>dob</key>
			<string>11/01/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TUẤN</string>
			<key>lastName</key>
			<string>ĐỖ THÀNH</string>
			<key>id</key>
			<string>66DCCA21587</string>
			<key>dob</key>
			<string>08/02/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TÙNG</string>
			<key>lastName</key>
			<string>PHẠM THANH</string>
			<key>id</key>
			<string>66DCCA23103</string>
			<key>dob</key>
			<string>04/11/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>VINH</string>
			<key>lastName</key>
			<string>BÙI VĂN</string>
			<key>id</key>
			<string>66DCCA21716</string>
			<key>dob</key>
			<string>02/09/1996</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>VĨNH</string>
			<key>lastName</key>
			<string>NGÔ NGỌC</string>
			<key>id</key>
			<string>66DCCA22821</string>
			<key>dob</key>
			<string>12/10/1997</string>
			<key>class</key>
			<string>66DDCCCA222</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>AN</string>
			<key>lastName</key>
			<string>NGUYỄN QUỐC</string>
			<key>id</key>
			<string>66DCCA20892</string>
			<key>dob</key>
			<string>01/06/1995</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>PHẠM NGỌC</string>
			<key>id</key>
			<string>66DCCA23058</string>
			<key>dob</key>
			<string>19/10/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>TRẦN TUẤN</string>
			<key>id</key>
			<string>66DCCA20691</string>
			<key>dob</key>
			<string>25/06/1996</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>BÍCH</string>
			<key>lastName</key>
			<string>BÙI THỊ NGỌC</string>
			<key>id</key>
			<string>66DCCA20077</string>
			<key>dob</key>
			<string>24/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CƯỜNG</string>
			<key>lastName</key>
			<string>NGUYỄN HỮU QUỐC</string>
			<key>id</key>
			<string>66DCCA20439</string>
			<key>dob</key>
			<string>09/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>DUNG</string>
			<key>lastName</key>
			<string>LƯU THỊ MỸ</string>
			<key>id</key>
			<string>66DCCA21103</string>
			<key>dob</key>
			<string>23/12/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>DUY</string>
			<key>lastName</key>
			<string>LÊ VĂN</string>
			<key>id</key>
			<string>66DCCA20237</string>
			<key>dob</key>
			<string>04/01/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>DƯƠNG</string>
			<key>lastName</key>
			<string>LÊ VĂN HOÀNG</string>
			<key>id</key>
			<string>66DCCA20485</string>
			<key>dob</key>
			<string>21/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>DƯƠNG</string>
			<key>lastName</key>
			<string>TRỊNH HỮU</string>
			<key>id</key>
			<string>66DCCA20837</string>
			<key>dob</key>
			<string>30/12/1996</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐỨC</string>
			<key>lastName</key>
			<string>LÊ VĂN CHÍ</string>
			<key>id</key>
			<string>66DCCA20722</string>
			<key>dob</key>
			<string>25/07/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐỨC</string>
			<key>lastName</key>
			<string>VŨ TIẾN</string>
			<key>id</key>
			<string>66DCCA20976</string>
			<key>dob</key>
			<string>30/12/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐẠT</string>
			<key>lastName</key>
			<string>TRỊNH THÀNH</string>
			<key>id</key>
			<string>66DCCA20435</string>
			<key>dob</key>
			<string>14/07/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HÀ</string>
			<key>lastName</key>
			<string>TRẦN THANH</string>
			<key>id</key>
			<string>66DCCA20412</string>
			<key>dob</key>
			<string>11/08/1995</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HỌC</string>
			<key>lastName</key>
			<string>PHẠM VĂN</string>
			<key>id</key>
			<string>66DCCA20165</string>
			<key>dob</key>
			<string>14/07/1996</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HẢI</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCA20059</string>
			<key>dob</key>
			<string>20/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HIỆP</string>
			<key>lastName</key>
			<string>NGUYỄN HOÀNG</string>
			<key>id</key>
			<string>66DCCA20694</string>
			<key>dob</key>
			<string>07/01/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HOÀN</string>
			<key>lastName</key>
			<string>LÊ NGỌC</string>
			<key>id</key>
			<string>66DCCA20071</string>
			<key>dob</key>
			<string>24/11/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HOÀNG</string>
			<key>lastName</key>
			<string>NGUYỄN VIẾT</string>
			<key>id</key>
			<string>66DCCA20897</string>
			<key>dob</key>
			<string>18/05/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HÙNG</string>
			<key>lastName</key>
			<string>HỒ SỸ</string>
			<key>id</key>
			<string>66DCCA20374</string>
			<key>dob</key>
			<string>01/01/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HUY</string>
			<key>lastName</key>
			<string>PHẠM GIA</string>
			<key>id</key>
			<string>66DCCA21075</string>
			<key>dob</key>
			<string>30/08/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HƯNG</string>
			<key>lastName</key>
			<string>NGUYỄN DƯƠNG</string>
			<key>id</key>
			<string>66DCCA20232</string>
			<key>dob</key>
			<string>06/10/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HƯNG</string>
			<key>lastName</key>
			<string>PHẠM TUẤN</string>
			<key>id</key>
			<string>66DCCA20699</string>
			<key>dob</key>
			<string>10/08/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>KHANG</string>
			<key>lastName</key>
			<string>LÊ MINH</string>
			<key>id</key>
			<string>66DCCA21073</string>
			<key>dob</key>
			<string>16/05/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>KHÁNH</string>
			<key>lastName</key>
			<string>ĐỖ NGỌC</string>
			<key>id</key>
			<string>66DCCA20974</string>
			<key>dob</key>
			<string>20/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>KHÁNH</string>
			<key>lastName</key>
			<string>PHẠM NGỌC</string>
			<key>id</key>
			<string>66DCCA21008</string>
			<key>dob</key>
			<string>07/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>KIÊN</string>
			<key>lastName</key>
			<string>LÊ VĂN</string>
			<key>id</key>
			<string>66DCCA20934</string>
			<key>dob</key>
			<string>02/11/1996</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>LANH</string>
			<key>lastName</key>
			<string>TRẦN THỊ</string>
			<key>id</key>
			<string>66DCCA20450</string>
			<key>dob</key>
			<string>20/09/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>LỰC</string>
			<key>lastName</key>
			<string>TRẦN TUẤN</string>
			<key>id</key>
			<string>66DCCA20432</string>
			<key>dob</key>
			<string>20/10/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>LINH</string>
			<key>lastName</key>
			<string>TRẦN ĐÌNH</string>
			<key>id</key>
			<string>66DCCA20744</string>
			<key>dob</key>
			<string>15/11/1995</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>LONG</string>
			<key>lastName</key>
			<string>NGUYỄN BÁ THÀNH</string>
			<key>id</key>
			<string>66DCCA21316</string>
			<key>dob</key>
			<string>10/05/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>MẠNH</string>
			<key>lastName</key>
			<string>NGUYỄN ĐỨC</string>
			<key>id</key>
			<string>66DCCA20314</string>
			<key>dob</key>
			<string>09/06/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>NAM</string>
			<key>lastName</key>
			<string>PHẠM THÀNH</string>
			<key>id</key>
			<string>66DCCA20852</string>
			<key>dob</key>
			<string>29/06/1996</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>NHÂN</string>
			<key>lastName</key>
			<string>TRƯƠNG HOÀNG</string>
			<key>id</key>
			<string>66DCCA20896</string>
			<key>dob</key>
			<string>20/01/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>PHÁT</string>
			<key>lastName</key>
			<string>PHẠM HUY</string>
			<key>id</key>
			<string>66DCCA20617</string>
			<key>dob</key>
			<string>05/12/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>QUANG</string>
			<key>lastName</key>
			<string>PHẠM VĂN</string>
			<key>id</key>
			<string>66DCCA21093</string>
			<key>dob</key>
			<string>11/10/1994</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>QUÂN</string>
			<key>lastName</key>
			<string>TRẦN VĂN</string>
			<key>id</key>
			<string>66DCCA20742</string>
			<key>dob</key>
			<string>26/06/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>QUỲNH</string>
			<key>lastName</key>
			<string>PHẠM THỊ</string>
			<key>id</key>
			<string>66DCCA20383</string>
			<key>dob</key>
			<string>15/08/1995</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>SỸ</string>
			<key>lastName</key>
			<string>ĐỨC ANH</string>
			<key>id</key>
			<string>66DCCA20455</string>
			<key>dob</key>
			<string>06/09/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>SƠN</string>
			<key>lastName</key>
			<string>NGUYỄN HỒNG</string>
			<key>id</key>
			<string>66DCCA20044</string>
			<key>dob</key>
			<string>09/10/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>SƠN</string>
			<key>lastName</key>
			<string>NGUYỄN QUANG</string>
			<key>id</key>
			<string>66DCCA21178</string>
			<key>dob</key>
			<string>05/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THÀNH</string>
			<key>lastName</key>
			<string>LÊ MINH</string>
			<key>id</key>
			<string>66DCCA20191</string>
			<key>dob</key>
			<string>19/06/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THĂNG</string>
			<key>lastName</key>
			<string>NGUYỄN TRỌNG</string>
			<key>id</key>
			<string>66DCCA23238</string>
			<key>dob</key>
			<string>27/04/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THIỀU</string>
			<key>lastName</key>
			<string>ĐOÀN GIA</string>
			<key>id</key>
			<string>66DCCA21035</string>
			<key>dob</key>
			<string>01/01/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THIỀU</string>
			<key>lastName</key>
			<string>NGÔ QUANG</string>
			<key>id</key>
			<string>66DCCA20021</string>
			<key>dob</key>
			<string>01/02/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THẮNG</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCA20148</string>
			<key>dob</key>
			<string>01/11/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THẮNG</string>
			<key>lastName</key>
			<string>PHẠM QUYẾT</string>
			<key>id</key>
			<string>66DCCA21366</string>
			<key>dob</key>
			<string>04/08/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>THÔNG</string>
			<key>lastName</key>
			<string>LƯU VĂN</string>
			<key>id</key>
			<string>66DCCA20586</string>
			<key>dob</key>
			<string>14/03/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TIẾN</string>
			<key>lastName</key>
			<string>NGUYỄN QUANG</string>
			<key>id</key>
			<string>66DCCA20304</string>
			<key>dob</key>
			<string>05/08/1996</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TRÍ</string>
			<key>lastName</key>
			<string>NGUYỄN ĐỨC MINH</string>
			<key>id</key>
			<string>66DCCA20133</string>
			<key>dob</key>
			<string>23/07/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TRIỆU</string>
			<key>lastName</key>
			<string>MAI ĐỨC</string>
			<key>id</key>
			<string>66DCCA20980</string>
			<key>dob</key>
			<string>27/10/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TRUNG</string>
			<key>lastName</key>
			<string>PHẠM NGỌC</string>
			<key>id</key>
			<string>66DCCA20352</string>
			<key>dob</key>
			<string>29/03/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TRUNG</string>
			<key>lastName</key>
			<string>VŨ VĂN</string>
			<key>id</key>
			<string>66DCCA20100</string>
			<key>dob</key>
			<string>19/04/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TÙNG</string>
			<key>lastName</key>
			<string>NGUYỄN XUÂN</string>
			<key>id</key>
			<string>66DCCA20696</string>
			<key>dob</key>
			<string>24/08/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TƯỞNG</string>
			<key>lastName</key>
			<string>ĐINH VĂN</string>
			<key>id</key>
			<string>66DCCA20069</string>
			<key>dob</key>
			<string>26/08/1997</string>
			<key>class</key>
			<string>66DCCA20</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>ĐỖ THẾ</string>
			<key>id</key>
			<string>66DCCC21678</string>
			<key>dob</key>
			<string>20/08/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>NGUYỄN HỮU VIỆT</string>
			<key>id</key>
			<string>66DCCC20956</string>
			<key>dob</key>
			<string>13/10/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>NGUYỄN QUỐC</string>
			<key>id</key>
			<string>66DCCC20524</string>
			<key>dob</key>
			<string>20/06/1996</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ANH</string>
			<key>lastName</key>
			<string>NGUYỄN TUẤN</string>
			<key>id</key>
			<string>66DCCC21807</string>
			<key>dob</key>
			<string>25/06/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CẢNH</string>
			<key>lastName</key>
			<string>VŨ ĐỨC</string>
			<key>id</key>
			<string>66DCCC22891</string>
			<key>dob</key>
			<string>04/01/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CƯỜNG</string>
			<key>lastName</key>
			<string>TRẦN LÊ</string>
			<key>id</key>
			<string>66DCCC23289</string>
			<key>dob</key>
			<string>17/01/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>CƯƠNG</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCC22345</string>
			<key>dob</key>
			<string>02/01/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>DUY</string>
			<key>lastName</key>
			<string>NGUYỄN CÔNG</string>
			<key>id</key>
			<string>66DCCC22801</string>
			<key>dob</key>
			<string>06/12/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐĂNG</string>
			<key>lastName</key>
			<string>ĐỖ HẢI</string>
			<key>id</key>
			<string>66DCCC22150</string>
			<key>dob</key>
			<string>01/05/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐỨC</string>
			<key>lastName</key>
			<string>PHẠM TRỌNG</string>
			<key>id</key>
			<string>66DCCC22200</string>
			<key>dob</key>
			<string>14/04/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>ĐẠT</string>
			<key>lastName</key>
			<string>NGUYỄN ĐỖ </string>
			<key>id</key>
			<string>66DCCC23293</string>
			<key>dob</key>
			<string>05/02/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HIẾU</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCC20709</string>
			<key>dob</key>
			<string>16/02/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HOÀN</string>
			<key>lastName</key>
			<string>TRẦN VĂN</string>
			<key>id</key>
			<string>66DCCC20451</string>
			<key>dob</key>
			<string>28/11/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>HÙNG</string>
			<key>lastName</key>
			<string>ĐỖ VĂN</string>
			<key>id</key>
			<string>66DCCC22932</string>
			<key>dob</key>
			<string>28/02/1996</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>KHẮC</string>
			<key>lastName</key>
			<string>TRẦN HÀ</string>
			<key>id</key>
			<string>66DCCC20091</string>
			<key>dob</key>
			<string>10/02/1996</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>MẠNH</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCC22780</string>
			<key>dob</key>
			<string>20/09/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>NAM</string>
			<key>lastName</key>
			<string>PHAN HẢI</string>
			<key>id</key>
			<string>66DCCC22132</string>
			<key>dob</key>
			<string>11/09/1996</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>PHÚ</string>
			<key>lastName</key>
			<string>BÙI DUY</string>
			<key>id</key>
			<string>66DCCC22778</string>
			<key>dob</key>
			<string>12/08/1996</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>PHƯƠNG</string>
			<key>lastName</key>
			<string>BÙI BÍCH</string>
			<key>id</key>
			<string>66DCCC22280</string>
			<key>dob</key>
			<string>18/08/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>QUÝ</string>
			<key>lastName</key>
			<string>LÊ VĂN</string>
			<key>id</key>
			<string>66DCCC22461</string>
			<key>dob</key>
			<string>08/10/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>SƠN</string>
			<key>lastName</key>
			<string>NGUYỄN HUY</string>
			<key>id</key>
			<string>66DCCC22997</string>
			<key>dob</key>
			<string>15/08/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TÂN</string>
			<key>lastName</key>
			<string>LÊ HỒNG</string>
			<key>id</key>
			<string>66DCCC22818</string>
			<key>dob</key>
			<string>03/05/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TIẾN</string>
			<key>lastName</key>
			<string>NGUYỄN VĂN</string>
			<key>id</key>
			<string>66DCCC22751</string>
			<key>dob</key>
			<string>08/05/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TRƯỜNG</string>
			<key>lastName</key>
			<string>NGUYỄN ĐỨC</string>
			<key>id</key>
			<string>66DCCC20703</string>
			<key>dob</key>
			<string>06/03/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TUẤN</string>
			<key>lastName</key>
			<string>PHÙNG MẠNH</string>
			<key>id</key>
			<string>66DCCC22819</string>
			<key>dob</key>
			<string>24/11/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>TÙNG</string>
			<key>lastName</key>
			<string>LÊ THANH</string>
			<key>id</key>
			<string>66DCCC23024</string>
			<key>dob</key>
			<string>21/09/1996</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>VŨ</string>
			<key>lastName</key>
			<string>LÊ QUANG</string>
			<key>id</key>
			<string>66DCCC22441</string>
			<key>dob</key>
			<string>17/10/1997</string>
			<key>class</key>
			<string>66DCCC21</string>
		</dict>
	</array>
</dict>
</plist>
